<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capstone.multiplicationwizard">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeBlue">
        <activity
            android:name=".GameActivity"
            android:theme="@style/AppThemeOrange"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppThemeBlue"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.MWContentProvider"
            android:authorities="com.capstone.multiplicationwizard.MWItems" />

        <receiver android:name=".MultiplicationWizardAppProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/multiplication_wizard_app_provider_info" />
        </receiver>
    </application>

</manifest>